html{
        scroll-behavior: smooth;

}
body {
  margin: 0;
  margin-top: 40px;
  padding: 0;


}
.nav{
background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url("../images/wed.jpg") no-repeat;
background-size: cover;
width: 100%;
background-position: center;
height: 750px;
font-family: 'Playfair Display', serif;
margin-top: -43px;
}


#button {
  color: white;
  background-color: #aaaaaa;
  border-radius: 20px;
}

.nav ul{
  list-style: none;
  text-align: center;
  margin-top: -10px;
  

  }
  .socialmedia{
    background-color: inherit;
    float: right;
    margin-top: 10px;
    padding: 15px;
  }

  .nav ul li{
    display: inline-grid;
    margin: 20px;
    }

    .nav ul li a{
      text-decoration: none;
      text-align: center;
      color: white;
      font-family: 'Spartan', sans-serif;
      margin-top: 10px;
      font-size: 10px;
      padding: 30px;
     }

    .nav ul li a:hover{
      color: #aaaaaa;
    }

    .nav h1{
      text-align: center;
      font-size: 50px;
      padding-top: 100px;
      color: white;
      font-family: 'Open Sans Condensed', sans-serif;

    }
    .container{
      grid-template-columns: auto auto auto;
      padding:10px;
      text-align: center;
      overflow: hidden;
      justify-content: center;
      align-items: center;

    }
    .lilnav{
      text-decoration: none;
      text-align: center;
      color: white;
font-family: 'Open Sans Condensed', sans-serif;
      height: 300px;
      width: 275px;
      /*padding-top: 90px;*/
      border: 0.10px solid white;
      height: 100px;

    }
    .lilnav1{
font-family: 'Playfair Display', serif;
      color: white;
      padding-top: 200px;
      text-align: center;
      height: 300px;
      width: 275px;    }
    .lilnav1 h2{
      font-size: 30px;
      font-weight: lighter;
      width: 100%;
    }
    .lilnav2 {
      border: .8px solid #ccc;
      background-position: right;
      height: 110px;
      width: 275px;
      padding-top: -150px;
      padding-bottom: -250px;

    }
    .container{
      text-align: center;
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      justify-content: center;
      grid-column-gap: 40px;
    }
    .lets h1{
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;

    }
    .Portraits{
      grid-template-columns: auto auto auto;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-column-gap: 40px;
      height: 550px;
    }
#f{
height: 300px;
width: 275px;
border: 2px solid #bbbbbb;
text-align: center;
border-radius: 10px;
margin-top: 30px;

    }
    #c{
    height: 300px;
    width: 275px;
    border: 2px solid #bbbbbb;
    text-align: center;
    border-radius: 10px;
        }
        #e{
          border-radius: 10px;
        height: 300px;
        width: 275px;
        border: 2px solid #bbbbbb;
        text-align: center;

        }


    .s-h{
      text-align: center;
      height: 10px;
            }
    .lets {
      grid-template-columns: auto auto auto;
      padding:10px;
      text-align: center;
      overflow: hidden;
      background: #e7ebef;

    }
     .lets a:hover {
       color:#bbbbbb;
     }
     .lets a:active {
       color:#bbbbbb;
     }
     .lets:hover img{
       transition: all 0.5s;
       -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s
     }
     .Portraits img:hover {
 transform: scale(1.5);
/*opacity: .5; */
     }
    .lets h2{
      font-family: 'Open Sans Condensed', sans-serif;

    }
    .lets h2 a {
      color:#bbbbbb;
      text-decoration: none;
    }

    .pic{
      grid-template-columns: auto auto;
      display:grid; 
      padding-top: 50px;
      justify-content: center;
          }
    .main {
      justify-content: center;
      grid-template-columns: auto auto;
      display: grid;
      align-items: center;
      grid-column-gap: 50px;
      padding: 40px;
    }

    .wedding img{
      margin-left:  300px;
    }
/*
    .wed{
      grid-template-columns: auto auto;
      display: grid;*/
    }

    .heading{
     margin-right: 600px;
     margin-left: 50px;

    }

    .heading h1 p{
     font-size: 10px;
     margin-left: -100px;
    }

    .pic img h1{
      /*display: inline;
*/      justify-content: center;
    }
    
    .journal h1{
      font-size: 20px;
      margin-right: 100px;
      margin-top: -20px;


    }
    
    .journal p{
      font-size: 10px;
    }

     .pic img{
      height: 300px;
      border-radius: 20px;
    }
    @media(max-width: 500px){
      body {
        background:#bbbbbb;
      }
    }
    @media(max-width: 500px){
      main {
        background:#bbbbbb;
      }
    }
    @media(max-width: 500px){
      footer {
        background:#bbbbbb;
      }
    }

    .pic h1{
        display: inline;
      padding-top: 500px;
      font-size: 20px;
      margin-bottom: 500px;
     }

     .button{
        color: #aaaaaa;
     }
      
      .last{
       grid-template-columns: auto auto auto auto;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-column-gap: 40px;
      padding: 100px;
            font-family: 'Open Sans Condensed', sans-serif;
 
    }


.main{
      font-family: 'Open Sans Condensed', sans-serif;

}
      .heading{
        border-right: 2px solid #aaaaaa;
        padding-right: 20px;
      }
      .para1{
        border-right: 2px solid #aaaaaa;
        padding-right: 20px;
      }
      
      .para3{
        border-left: 2px solid #aaaaaa;
        padding-left: 20px;
      }

      #p1{
        height: 80px;
        width: 100px;
      }

      #p2{
       height: 80px;
        width: 100px;
      }

      #p3{
        height: 80px;
        width: 100px;
      }

      .copyright{
        text-align: center;
        background-color: #eee8dc;
        margin-bottom: -30px;
              font-family: 'Open Sans Condensed', sans-serif;

      }
      .socialmedia input[type=text]{
        border-radius: 10px;
        font-size: 13px;

      }


    

    
   
